.for-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.grap {
  margin-right: 10px;
}
.container {
  height: 60vh;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.heading {
  text-align: center;
}